$primary-color: #2563eb;
$secondary-color: #ffffff;
$danger-color: #dc2626;
$outline-color: #6b7280;

$text-white: #ffffff;
$text-dark: #111827;

$border-color: #d1d5db;
$error-color: #dc2626;

$background-light: #f9fafb;
